<div ng-controller="createToDoListCtrl as ctrl" layout="column" ng-cloak
     class="md-inline-form">
    <div layout="row" layout-wrap>
        <div flex>
        </div>
        <div flex-lg="80" flex-md="80" flex-sm="80" flex-gt-lg="80">
            <md-input-container class="md-block">
                <label>TODO list name</label>
                <input name="nameList" ng-model="toDoList.name">
            </md-input-container>
            <h2 class="md-title">Describe content of the TODO using tags</h2>
            <md-chips
                    ng-model="toDoList.tags"
                    readonly="readonly"
                    placeholder="Enter a tag"
                    delete-button-label="Remove Tag"
                    delete-hint="Press delete to remove tag"
                    secondary-placeholder="+Tag"></md-chips>
            <br/>

            <h1 class="md-title">Add parameters</h1>

            <div layout="column">
                <div layout="row">
                    <md-input-container flex="30">
                        <label>Parameter Name</label>
                        <input ng-model="paramName">
                    </md-input-container>
                    <md-input-container flex="60">
                        <label>Value</label>
                        <input ng-model="paramValue">
                    </md-input-container>
                    <md-button class="md-raised" style="height: 20px !important;  margin-top: 20px !important;"
                               ng-click="addParam(paramName, paramValue)">Add
                    </md-button>
                </div>
                <div layout="row" ng-repeat="param in parameters" class="params">
                    <md-input-container flex="30">
                        <label>Parameter Name</label>
                        <input ng-model="param.key" disabled>
                    </md-input-container>
                    <md-input-container flex="60">
                        <label>Value</label>
                        <input ng-model="param.value" ng-disabled="param.edit == false">
                    </md-input-container>
                    <md-button class="md-raised" style="height: 20px !important;  margin-top: 20px !important;"
                               ng-show="param.edit == false"
                               ng-click="param.edit = true;">Edit
                    </md-button>
                    <md-button class="md-raised" style="height: 20px !important;  margin-top: 20px !important;"
                               ng-show="param.edit == true"
                               ng-click="saveParam(param.key, param.value);  param.edit = false;">Save
                    </md-button>
                </div>
            </div>
            <br/>
            <h4>ToDos</h4>
            <table class="ui celled table" ng-show="toDoList.todos.length">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="toDo in toDoList.todos track by $index">
                    <td>{{toDo.name}}</td>
                    <td>{{toDo.description}}</td>
                </tr>
                </tbody>
            </table>
            <p ng-show="!toDoList.todos.length">
                No ToDos
            </p>
            <md-button class="md-raised" ng-click="showAdvanced($event)">Add ToDo</md-button>
            <md-button class="md-raised md-primary" ng-click="submit()">Save</md-button>

        </div>

        <div flex>
        </div>
    </div>
</div>

<script type="text/ng-template" id="dialog.tmpl.html">
    <md-dialog aria-label="Add ToDo dialog" ng-cloak flex="50">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Add ToDo</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="/public/img/icons/ic_close_24px.svg"
                                 aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="newToDo.name">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="newToDo.description" columns="1" rows="5"></textarea>
                    </md-input-container>
                </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="addToDo(newToDo)" style="margin-right:20px;">
                        Add
                    </md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>
