<link href="/public/css/sensor.css" rel="stylesheet">
<div ng-controller="sensorCtrl" class="sensorList">
    <md-grid-list md-cols="3" md-row-height="1:1" md-gutter="12px">

        <md-grid-tile class="back">
            <md-icon md-svg-icon="/public/img/icons/left.svg" aria-label="Back" ng-click="back()"></md-icon>
        </md-grid-tile>

        <md-grid-tile class="place">
            <md-list ng-cloak="">
                <md-subheader class="md-no-sticky">
                    <span class="breadcrumbs" ng-repeat="crumb in breadcrumbs">{{crumb.value}}</span>
                </md-subheader>
                <md-list-item ng-repeat="place in uniquePlaces" ng-click="listChildrenAndSensors(place, $event)">
                    {{ place.value}} ({{ place.type }})
                </md-list-item>
            </md-list>
            <md-grid-tile-footer>
                <md-icon md-svg-icon="/public/img/icons/add_circle.svg" aria-label="Add Place" ng-click="addPlace()"></md-icon>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="sensor">
            <md-list ng-cloak="">
                <md-subheader class="md-no-sticky">Sensors</md-subheader>
                <md-list-item ng-repeat="sensor in selectedSensors" ng-click="showSensorDialog($event)">
                    {{ sensor.type }}
                    <md-icon md-svg-icon="/public/img/icons/edit.svg" aria-label="Edit Sensor"></md-icon>
                </md-list-item>
            </md-list>
            <md-grid-tile-footer>
                <md-icon md-svg-icon="/public/img/icons/add_circle.svg" aria-label="Add Sensor" ng-click="showSensorDialog($event)"></md-icon>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>

<script type="text/ng-template" id="addSensor">
    <md-dialog aria-label="Add Sensor" ng-cloak flex="50">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Add ToDo</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="/public/img/icons/ic_close_24px.svg"
                                 aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="newToDo.name">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="newToDo.description" columns="1" rows="5"></textarea>
                    </md-input-container>
                </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="addToDo(newToDo)" style="margin-right:20px;">
                        Add
                    </md-button>
                </md-dialog-actions>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>