<div class="login">
    <link rel="stylesheet" href="/public/css/login.css">
    <form ng-submit="submit()" ng-controller="loginCtrl">

        {{message}}

        <md-input-container class="input">
            <label>Username</label>
            <input type="text" ng-model="formData.username" required>

            <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-input-container class="input">
            <label>Password</label>
            <input type="text" ng-model="formData.password" required>

            <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <button type="submit" class="button buttonBlue">Login
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
</div>