<link href="/public/css/nav.css" rel="stylesheet">
<div layout="column" ng-cloak="">
    <md-toolbar id="navbar">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch()">
                Search
            </md-button>
            <md-button aria-label="Search" ng-click="createToDoListTemplate()">
                Create TODO
            </md-button>
            <md-button ng-show="user.admin" aria-label="Search" ng-click="createUser()">
                Add user
            </md-button>
            <md-menu md-offset="0 45">
                <md-button aria-label="{{ user.name }}" ng-click="openMenu($mdOpenMenu, $event)">
                    {{ user.name }}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content flex layout-padding class="md-whiteframe-z1" id="content">
        <div data-ui-view></div>
    </md-content>
</div>




