<link href="/public/css/search.css" rel="stylesheet">
<div ng-controller="searchCtrl" class="search">

    <form name="searchForm">
        <div layout="">
                <h2>Tags</h2>
                <md-chips
                        ng-model="tags"
                        placeholder="Enter a tag"
                        readonly="false"
                        delete-button-label="Remove Tag"
                        delete-hint="Press delete to remove tag"
                        secondary-placeholder="Enter a tag"></md-chips>
        </div>
        <div layout="row" layout-align="end">
            <md-button class="md-raised md-primary" ng-click="search()">Search</md-button>
        </div>
    </form>

    <md-list ng-cloak="">
        <md-list-item ng-repeat="toDoList in result">
            [{{$index + 1}}]:
            Tags
            <ul>
                <li ng-repeat="tag in toDoList.tags">
                    {{ tag.value }}
                </li>
            </ul>
            ToDos:
            <ul>
                <li ng-repeat="todo in toDoList.todos">
                    {{ todo.name }}
                </li>
            </ul>
        </md-list-item>
    </md-list>

</div>