.search h2 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.search h3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.search .md-3-line {
    border-bottom: 1px solid #D4D6D2;
}

.search .md-3-line:last-child {
    border-bottom: 0px;
}