<link href="/public/css/nav.css" rel="stylesheet">
<div layout="column" ng-cloak="">
    <md-toolbar id="navbar">
        <div class="md-toolbar-tools" ng-controller="navCtrl as navCtrl">
            <span flex></span>
            <md-button aria-label="Search" ng-click="navCtrl.showSearch()">
                Search
            </md-button>
            <md-menu md-offset="0 45">
                <md-button aria-label="ToDoList" ng-click="navCtrl.openMenu($mdOpenMenu, $event)">
                    ToDoList
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="navCtrl.showAllToDoListTemplates()">
                            show All
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="navCtrl.createToDoList()">
                            create New
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu md-offset="0 45">
                <md-button aria-label="User" ng-click="navCtrl.openMenu($mdOpenMenu, $event)">
                    User
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="navCtrl.showAllUsers()">
                            show All
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="navCtrl.createUser()">
                            create New
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu md-offset="0 45">
                <md-button aria-label="{{ name }}" ng-click="navCtrl.openMenu($mdOpenMenu, $event)">
                    {{ name }}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="navCtrl.logout()">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content flex layout-padding class="md-whiteframe-z1" id="content">
        <div data-ui-view></div>
    </md-content>
</div>




